// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.main_footer {
    @include var_vwh(100vw, 250px);
    @include flex_prop0();
    background: $color1;

    .footer_box {
        @include var_vwh(100%, 100%);
        @include flex_prop2();
        @include flex_center();
        gap: 10px;

        .footer_item {
            @include flex_prop0();
            h1 {
                text-align: center;
                @include var_spacings(0, 0);
                @include var_fonts(inherit, 48px, 700, 57.6px, capitalize, $color5);
            }

            p {
                @include var_fonts(inherit, 16px, 400, 24px, none, $color6);
            }

            &:first-child {
                @include flex_prop0();
                .footer_subitem {
                    .footer_links {
                        @include flex_prop1();
                        @include flex_center();
                        gap: 50px;
                    }
                }
            }

            &:nth-child(2) {
                min-width: 1600px;
                border-bottom: 1px solid $color5;
                opacity: 1;
            }
        }
    }
}