// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
// Modal ------------------------------------
@mixin pos_absolute_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px 5px rgba(102, 102, 102, 0.144);
}

// Pages ------------------------------------
@mixin default_vwh () {
    width: 100vw;
    height: 100vh;
}

@mixin var_vwh ($df_vw, $df_vh) {
    width: $df_vw;
    height: $df_vh;
}

@mixin default_maxWH() {
    max-width: 1600px;
    height: 100%;
}

// spacing ------------------------------------
@mixin var_spacings ($cf_margins, $cf_paddings) {
    margin: $cf_margins;
    padding: $cf_paddings;
}

// Flex Config ------------------------------
@mixin flex_prop0 {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex_prop1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin flex_row_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex_col_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex_prop2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin flex_center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin flex_rightcenter {
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}

@mixin flex_leftcenter {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

@mixin flex_spaceeven {
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

// Button -----------------------------
@mixin btn_default {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@mixin btn01 {
    color: $color5;
    background: $color1;
    border: 1px solid $color1;
    padding: 16px 32px;
}

@mixin btn02 {
    color: $color5;
    background: #00000000;
    border: 1px solid $color5;
    padding: 16px 32px;
}

@mixin btn01_hover {
    color: $color6;
    background: $color3;
    border: 1px solid $color3;
}

@mixin btn02_hover {
    color: $color1;
    background: $color5;
    border: 1px solid $color5;
}

@mixin btn01_active {
    color: $color4;
    background: $color3;
    border: 1px solid $color3;
}

@mixin btn02_active {
    color: $color1;
    background: $color5;
    border: 1px solid $color5;
}

@mixin btn_row_between {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // padding: 16px 32px;
    gap: 10px;
}

//Input ------------------------------------
@mixin input_style {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: inherit;
    background: $color3;
}

@mixin input_removewebkit {
    display: none;
    -webkit-appearance: none;
}

@mixin input_border_clear {
    border: 0;
}

@mixin input_border {
    border-bottom: 1px solid $color4;
}

@mixin input_focus {
    border: 0;
    outline: none;
    border-bottom: 2px solid $color4;
}

// Box --------------------------------------
@mixin box_style {
    box-shadow: 2px 2px 5px 5px rgba(102, 102, 102, 0.144);
}

@mixin border_style {
    border: 1px solid $color5;
    border-radius: 10px;
}

// Border Radius ----------------------------
@mixin border_default {
    border-radius: 25px;
}

@mixin border_style01 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

@mixin border_style02 {
    border-radius: 0px 5px 5px 5px;
}

// Icons ------------------------------------
@mixin icons_default {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    // font-size: 20px;
    filter: invert(100%) sepia(19%) saturate(4047%) hue-rotate(238deg) brightness(122%) contrast(109%);
    color: #ffffff;
}

@mixin var_icons {
    height: 45px;
    width: 45px;
    background-color: $color1;
    border-radius: 50%;
}

// Images
@mixin img_ {
    background-position: center;
    background-repeat: no-repeat;
}

@mixin img_default {
    @include img_();
    background-size: 100% 100%;
    @media (max-width: 1200px) {
        background-size: auto 100%;
    }
    object-fit: cover;
}

@mixin img_hero {
    @include img_();
    background-size: 100% 100%;
    // object-fit: fill;
}

// ------------------------------------------

// Font -------------------------------------
@mixin var_fonts($df_fs, $df_fz, $df_fw, $df_ln, $df_tt, $df_fc){
    font: $df_fs;
    font-size: $df_fz;
    font-weight: $df_fw;
    line-height: $df_ln;
    text-transform: $df_tt;
    color: $df_fc;
}

// ------------------------------------------