// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Color Palette =====================
$color1: #110E09;
$color2: #141A26;
$color3: #293950;
$color4: #C5881E;
$color5: #C05C0E;
$color6: #F7E2AD;