// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    // background-color: coral;
}

h1,
h2,
h3 {
    font-family: 'Libre Baskervile', serif, sans-serif;
}

p,
a,
li,
button,
input {
    font-family: 'Inter', serif, sans-serif;
}

a {
    color: #000000;

    &:focus,
    &:hover {
        color: #575757;
    }

    &:active {
        color: #313131;
    }
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    overflow: overlay;
    // display: none;
}

/* Firefox */
// * {
//     scrollbar-width: 0;
//     scrollbar-color: #545454 #ffffff;
// }

// *::-webkit-scrollbar-track {
//     background: #ffffff;
// }

// *::-webkit-scrollbar-thumb {
//     background-color: #545454;
//     border-radius: 10px;
//     border: 3px solid #ffffff;
// }