$color1: #110E09;
$color2: #141A26;
$color3: #293950;
$color4: #C5881E;
$color5: #C05C0E;
$color6: #F7E2AD;
$colorFeatureWork:#0b2838;
$color6meetourteam:#083248;
$colorcontactus:#031b28;
$colorfont :#e89c31;
$colorinputbox: #083248;
$colorPureWhite:#ffffff;
$fonts: 'Poppins',
sans,
Helvertica,
sans-serif;
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Modal ------------------------------------
@mixin pos_absolute_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px 5px rgba(102, 102, 102, 0.144);
}

// Pages ------------------------------------
@mixin default_vwh {
    width: 100vw;
    height: 100vh;
}

// Flex Config ------------------------------
@mixin flex_prop0 {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex_prop1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin flex_row_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex_col_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex_prop2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin flex_center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin flex_rightcenter {
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}

@mixin flex_leftcenter {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

@mixin flex_spaceeven {
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

// Button -----------------------------
@mixin btn_default {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@mixin btn01 {
    color: #fff;
    background: $color1;
    border: 1px solid $color1;
    padding: 16px 32px;
}

@mixin btn02 {
    color: #fff;
    background: $color2;
    border: 1px solid $color2;
    padding: 16px 32px;
}

@mixin btn01_hover {
    color: #dadada;
    background: $colorhv1;
    border: 1px solid $colorhv1;
}

@mixin btn02_hover {
    color: #dadada;
    background: $colorhv2;
    border: 1px solid $colorhv2;
}

@mixin btn01_active {
    color: #dadada;
    background: $coloract1;
    border: 1px solid $coloract1;
}

@mixin btn02_active {
    color: #dadada;
    background: $coloract2;
    border: 1px solid $coloract2;
}

@mixin btn_row_between {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // padding: 16px 32px;
    gap: 10px;
}

// Input ------------------------------------
@mixin input_style {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: inherit;
    background: $bg-in;
}

@mixin input_removewebkit {
    display: none;
    -webkit-appearance: none;
}

@mixin input_border_clear {
    border: 0;
}

@mixin input_border {
    border-bottom: 1px solid $color1;
}

@mixin input_focus {
    border: 0;
    outline: none;
    border-bottom: 2px solid $color1;
}

// Box --------------------------------------
@mixin box_style {
    box-shadow: 2px 2px 5px 5px rgba(102, 102, 102, 0.144);
}

// Border Radius ----------------------------
@mixin border_default {
    border-radius: 25px;
}

@mixin border_style01 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

@mixin border_style02 {
    border-radius: 0px 5px 5px 5px;
}

// Icons ------------------------------------
@mixin icons_default {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    // font-size: 20px;
    filter: invert(100%) sepia(19%) saturate(4047%) hue-rotate(238deg) brightness(122%) contrast(109%);
    color: #ffffff;
}

// Images
@mixin img_ {
    background-position: center;
    background-repeat: no-repeat;
}

@mixin img_default {
    @include img_();
    background-size: 100% 100%;
    @media (max-width: 1200px) {
        background-size: auto 100%;
    }
    object-fit: cover;
}

@mixin img_hero {
    @include img_();
    background-size: 100% 100%;
    // object-fit: fill;
}

// ------------------------------------------
.textcolor {
    color: $colorfont;
}

.container {
    font-family: $fonts;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomMat {
    position: absolute;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
    color: $colorfont;
}

.brand {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.brandLogo {
    grid-area: 1 / 1 / 2 / 2;
}

.branddropdown {
    position: absolute;
    padding-left: 94%;
    top: 3vh;
    grid-area: 1 / 2 / 2 / 3;
}

.welcomMatButtons {
    position: relative;
    justify-content: center;
    padding-left: 46%;
    padding-top: 10%;
}

.teamDetails {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

.aboutUs {
    background-color: $colorFeatureWork;
    // height: 30vh;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 15px;
    gap: 500px;
}

.aboutUstext {
    color: $colorfont;
    padding-left: 2%;
}

.mediumSection {
    color: $colorFeatureWork;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

.mediumSectionsingle {
    display: grid;
    grid-template-columns: 1fr;
}

.mediumSectionsingletext {
    grid-area: 1 / 1 / 2 / 2;
    position: absolute;
    justify-content: center;
}

.mediumSectionsinglerow1 {
    position: absolute;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
    padding-top: 10%;
}

.mediumSectionFeature {
    background-color: $colorFeatureWork;
    // justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.mediumSectionFeaturetext {
    grid-area: 1 / 1 / 2 / 4;
}

.mediumSectionFeaturerow1 {
    grid-area: 2 / 1 / 3 / 4;
    padding-top: 2%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
}

.mediumSectionPricing {
    background-color: #fafafa;
    // justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.mediumSectionPricingrow1 {
    grid-area: 1 / 1 / 2 / 4;
}

.mediumSectionPricingrow2 {
    grid-area: 2 / 1 / 3 / 4;
    padding-top: 2%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
}

.mediumSectionsingle2nd {
    color: $colorfont;
    position: relative;
    margin: 0;
    text-shadow: 1px 1px 1px #3c5c5e;
    z-index: 2;
}

.mediumSectionsingle2ndtext {
    position: absolute;
}

.bgWrap {
    overflow: hidden;
    z-index: -2;
}

.meetTeam {
    background-color: $color6meetourteam;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    padding-bottom: 5%;
}

.meetTeamHeader {
    grid-area: 1 / 1 / 2 / 6;
}

.meetTeamrow1 {
    grid-area: 2 / 2 / 3 / 5;
    padding-bottom: 1%;
}

.meetTeamrow2 {
    grid-area: 3 / 2 / 4 / 5;
}

.teamImage {
    padding-left: 7vh;
    padding-right: 6vh;
}

.girdContactus {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100%;
}

.contactFormleftform {
    color: $colorfont;
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 7;
}

.contactFormrightform {
    color: $colorfont;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 4;
}

.card1 {
    color: $colorfont;
    padding-bottom: 2rem;
    padding-right: 4rem;
}

.Contactus {
    background-color: $colorcontactus;
    color: $colorfont;
    background-color: $colorcontactus;
}

.inputBoxstyle {
    background-color: $colorinputbox;
    border-color: $colorfont;
    padding: 0% 15%;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    color: $colorfont;
    background-color: $colorcontactus;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.backgroundCol1 {
    background-color: #c05c0e;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}